<section>
    <div>
        <h3>
            Comunicacion entre componentes
        </h3>
        <article>
            <h4>Anidar componentes</h4>
            <ul>
                <li>Anidacion de componentes: Se pueden anidar 2 o mas componentes. Para que 2 componentes se aniden, un componente de menor nivel("hijo") se anide con otro componente de mayor nivel(pader), el componente "hijo" debe contener logica derivada de el "padre"</li>
                <li>
                    Anidar componentes sirve para mantener la logica de un componente "grande" con muchas lineas de codigo en unidades separadas, estos componentes mas chicos pueden ser usados en cualquier parte de la aplicacion lo que promueve la modularidad y la mantenibilidad del código
                </li>
                <li>
                    Al manter la logica en unidades separadas, facilita el mantenimiento de codigo, la depuracion de errores y facilita a otros programadores entender la aplicacion.
                </li>
            </ul>
        </article>
        <article>
            <h4>Pasar datos entre componetes</h4>
            <ul><li>
                Para pasar datos de un componente padre a un componete hijo se usa el decorador input,
            </li></ul>
        </article>
    </div>
</section>